<% unless user_signed_in? %>
<%= image_tag 'lgi01a201311270800.jpg', class: 'image' %>
<% end %>
<main class="main">
  <div class="inner">
    <div class="card__wrapper">
    <p><%= image_tag '/assets/IMG_2973.jpeg', class: 'imagee' %></p>
      <%# 部分テンプレートで投稿一覧を表示 %>
      <%= render partial: 'manual', collection: @manuals%>
    </div>
  </div>
</main>
