<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h1 class="page-heading">新規投稿</h1>
        
        <%= render partial: "form", locals: { manual: @manual } %>
    </div>
  </div>
</div>